
@{
    Layout = "_Layout";
}
<div class="container text-center">
<p>
   Start/Index
</p>
<a class="link-dark" asp-controller="Start" asp-action="One">One</a>
<a class="link-dark" asp-controller="Start" asp-action="Two">Two</a>
<a class="link-dark" asp-controller="Start" asp-action="Three">Three</a>
</div>